{% extends 'app/base.html' %}

{% block contenido %}
    <body>
        <div class="retail">
        <div
        style="color: black;
        font-size: 35px;">
        <a href="#">Vendedor agropecuario - Santiago</a>
          <p>- Misión del cargo:
            Asegurar el cumplimiento del plan de venta del segmento o cartera asignada según el lineamiento de la subgerencia comercial, buscando el desarrollo de nuevos negocios y el cumplimiento del presupuesto que permitan lograr los objetivos económicos y estratégicos de la empresa. </p>
        </div>
        <div
        style="color: black;
        font-size: 35px;">
        <a href="#">Ingenieros agrónomos / Ing. Ejecución Agropecuarios / Técnicos Agrícolas Nivel S</a>
          <p>Se requieren Ingenieros agrónomos / Ing. Ejecución Agropecuarios / Técnicos Agrícolas Nivel Superior para realizar asesorías técnicas a pequeños agricultores de las regiones de Valparaíso, Metropolitana y O´Higgins. Debe disponer de movilización propia y experiencia acreditable de al menos seis años en una de las siguientes especies; Paltos, cítricos, nogales, carozos, uva de mesa, frutillas, hortalizas al aire libre, hortalizas bajo plástico. </p>
        </div>
        <div
        style="color: black;
        font-size: 35px;">
        <a href="#">Ingenieros agrónomos / ingenieros ejecución agropecuaria / técnicos...</a>
          <p>Se necesitan profesionales del área para realizar asesoría técnica a pequeños agricultores de la regiones de Valparaíso, Metropolitana y de O´Higgins en las siguientes especies; Paltos, nogales, carozos, cítricos, uva de mesa, frutillas, hortalizas aire libre y bajo plástico.</p>
        </div>
        <div
        style="color: black;
        font-size: 50px;">
        </div>
        <div><a class="Trabajos"  href="{% url 'pagEmpleo'%}">Volver</a></div>
        
        </div>
    </body>
        {% endblock %}