{% extends 'app/base.html' %}

{% block contenido %}
    <body>
        <div class="retail">
        <div
        style="color: black;
        font-size: 35px;">
        <a href="#">CONTROL DOCUMENTOS A - MINERÍA</a>
          <p>J.E.J. Ingeniería busca el cargo "CONTROL DOCUMENTOS A" para importante proyecto en Servicios de Apoyo a la Gestión de Proyectos de Minera Centinela – Sierra Gorda.

            Turno 4X3 Diurno.
            
            Función:
            
            Gestionar la emisión, distribución y control de los documentos técnicos de ingeniería, vendors y documentación en general que se genere en MCENT.
            
            Requisitos:
            
            Requisitos:
            • Formación de Técnico/a Profesional - Ingeniería o carrera afín.
            • Al menos 10 años de experiencia general (Efectivos desde titulación).
            • Al menos 9 años de experiencia en la gestión documental en todo el proceso de gestión de los proyectos
            • Experiencia en generar la documentación requerida, según los requerimientos y estándares de MCENT </p>
        </div>
        <div
        style="color: black;
        font-size: 35px;">
        <a href="#">LÍDER GESTION DE RIESGOS - MINERÍA</a>
          <p>En JEJ Ingeniería SA estamos en búsqueda de vacante disponible para el cargo LÍDER GESTIÓN DE RIESGOS en prestación de servicios a División El Teniente, Rancagua. </p>
        </div>
        <div
        style="color: black;
        font-size: 35px;">
        <a href="#">Personal de minería con licencia B y D / Rajo Inca - El Salvador 7x7</a>
          <p>Importante empresa del rubro minero dedicada a la elaboración de explosivos está en búsqueda de encargardos de patio con licencia B y D para la minera Rajo Inca-El Salvador quienes apoyaran el proceso de tronadura colaborando con todos los involucrados a fin de que esta sea realizada de la manera más eficiente y segura posible.</p>
        </div>
        <div
        style="color: black;
        font-size: 50px;">
        </div>
        <div><a class="Trabajos"  href="{% url 'pagEmpleo'%}">Volver</a></div>
        </div>
    </body>
        {% endblock %}