{% extends 'app/base.html' %}

{% block contenido %}
<body>
    <div class="container6">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h2>Ingresa tus credenciales</h2>
                        <hr>
                        <form action="" method="post">
                            {% csrf_token %}
                            {{form}}
                            <label class="bienvenida">E-mail</label>
                            <input class="bienvenida" type="text" name="usuario" class="correo">
                            <label class="bienvenida">Contraseña</label>
                            <input class="bienvenida" type="password" name="contra" class="clave">
                            <input type="submit" value="Ingresar">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


{% endblock %}



